<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="acaea5">  <td>20/01/07 13:27:59</td>   <td>0</td> <td title="&gt;&gt;SafaricomReport_Blaze.beforeSuite()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@34129c78]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@949684105</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>20/01/07 13:27:59</td>   <td>191</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomReport_Blaze.beforeClass()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@34129c78]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@949684105</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>20/01/07 13:27:59</td>   <td>204</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomReport_Blaze.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@34129c78]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@949684105</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>20/01/07 13:27:59</td>   <td>209</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.LOGIN_TC_001()[pri:1, instance:com.safaricom.report.SafaricomReport_Blaze@34129c78]">LOGIN_TC_001</td> 
  <td>main@949684105</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>20/01/07 13:30:01</td>   <td>121660</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SafaricomReport_Blaze.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@34129c78]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@949684105</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>20/01/07 13:30:05</td>   <td>126219</td> <td title="&lt;&lt;SafaricomReport_Blaze.endReport()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@34129c78]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@949684105</td>   <td></td> </tr>
</table>
