<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.safaricom.report.SafaricomReport_Blaze</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEBUYAIRTIME_TC_002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEBUYAIRTIME_TC_003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEBUYAIRTIME_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LIPANAMPESA_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LIPANAMPESA_TC_002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LIPANAMPESA_TC_003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BEYOURBOSS_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BEYOURBOSS_TC_003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BEYOURBOSS_TC_002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SERVICES_DATACALLPLANSSERVICES_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SERVICES_STORELOCATOR_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEBONGA_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEBONGA_TC_005</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEBONGA_TC_004</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEBONGA_TC_003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEBONGA_TC_002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEBONGA_TC_006</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEFULIZAMPESA_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEHOME_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEBUNDLES_TC_008</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEMYACCOUNT_TC_002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEBUNDLES_TC_009</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEMYACCOUNT_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEBUNDLES_TC_004</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZETALKTOUS_TC_004</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEBUNDLES_TC_005</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEBUNDLES_TC_006</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEBUNDLES_TC_007</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEBUNDLES_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEDATAUSAGE_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZETALKTOUS_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEBUNDLES_TC_002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZETALKTOUS_TC_002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEBUNDLES_TC_003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZETALKTOUS_TC_003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZESENDMONEY_TC_003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZESENDMONEY_TC_002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZESENDMONEY_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEBILLMANAGER_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEBILLMANAGER_TC_002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LOGIN_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BEYOURBOSS_TC_004</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEDEVICES_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SERVICES_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SERVICES_SKIZASERVICES_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEMPESAGLOBAL_TC_004</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SERVICES_CHECKBALANCE_TC_005</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEMPESAGLOBAL_TC_005</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SERVICES_CHECKBALANCE_TC_004</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEMPESAGLOBAL_TC_002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SERVICES_CHECKBALANCE_TC_003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SERVICES_CHECKBALANCE_TC_002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEMPESAGLOBAL_TC_003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEMPESAGLOBAL_TC_008</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SERVICES_CHECKBALANCE_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEMPESAGLOBAL_TC_009</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEMPESAGLOBAL_TC_006</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEMPESAGLOBAL_TC_007</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEBUNDLES_TC_026</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MENU_TC_010</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEBUNDLES_TC_022</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEBUNDLES_TC_023</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEBUNDLES_TC_024</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SERVICES_SAMBAZASERVICES_TC_003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEBUNDLES_TC_025</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MENU_TC_006</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MENU_TC_007</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEBUNDLES_TC_020</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MENU_TC_004</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEBUNDLES_TC_021</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MENU_TC_005</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MENU_TC_002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MENU_TC_003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SERVICES_BLAZEBONGA_TC_002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SERVICES_BLAZEBONGA_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MENU_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEMPESA_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEWITHDRAWCASH_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEWITHDRAWCASH_TC_002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MENU_TC_008</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEWITHDRAWCASH_TC_003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MENU_TC_009</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEBUNDLES_TC_019</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEBUNDLES_TC_015</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEBUNDLES_TC_016</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEBUNDLES_TC_017</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEBUNDLES_TC_018</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEBUNDLES_TC_011</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEBUNDLES_TC_012</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEBUNDLES_TC_013</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEBUNDLES_TC_014</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SERVICES_SAMBAZASERVICES_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MENU_TC_017</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SERVICES_SAMBAZASERVICES_TC_002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MENU_TC_018</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MENU_TC_015</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEBUNDLES_TC_010</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MENU_TC_016</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MENU_TC_013</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MENU_TC_014</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MENU_TC_011</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MENU_TC_012</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEMPESAGLOBAL_TC_011</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEMPESAGLOBAL_TC_012</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZEMPESAGLOBAL_TC_010</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZELOANSANDSAVINGS_TC_010</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZELOANSANDSAVINGS_TC_013</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZELOANSANDSAVINGS_TC_014</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZELOANSANDSAVINGS_TC_011</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZELOANSANDSAVINGS_TC_012</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZELOANSANDSAVINGS_TC_006</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZELOANSANDSAVINGS_TC_007</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZELOANSANDSAVINGS_TC_004</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZELOANSANDSAVINGS_TC_005</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZELOANSANDSAVINGS_TC_008</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SERVICES_AIRTIMETOPUP_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZELOANSANDSAVINGS_TC_009</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SERVICES_CONTACTUS_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SERVICES_OKOASERVICES_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZELOANSANDSAVINGS_TC_002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZELOANSANDSAVINGS_TC_003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BLAZELOANSANDSAVINGS_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
