<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:46:05</td>   <td>0</td> <td title="&gt;&gt;SafaricomReport_Blaze.beforeSuite()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:46:05</td>   <td>172</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomReport_Blaze.beforeClass()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:46:05</td>   <td>188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomReport_Blaze.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:46:05</td>   <td>188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.LOGIN_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">LOGIN_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:46:45</td>   <td>40607</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SafaricomReport_Blaze.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:46:45</td>   <td>40609</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomReport_Blaze.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:46:45</td>   <td>40609</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEHOME_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEHOME_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:46:47</td>   <td>42107</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SafaricomReport_Blaze.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:46:47</td>   <td>42107</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomReport_Blaze.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:46:47</td>   <td>42107</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BEYOURBOSS_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BEYOURBOSS_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:46:49</td>   <td>44146</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SafaricomReport_Blaze.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:46:49</td>   <td>44147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomReport_Blaze.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:46:49</td>   <td>44147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BEYOURBOSS_TC_002()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BEYOURBOSS_TC_002</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:03</td>   <td>58185</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SafaricomReport_Blaze.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:03</td>   <td>58186</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomReport_Blaze.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:03</td>   <td>58186</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BEYOURBOSS_TC_003()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BEYOURBOSS_TC_003</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:18</td>   <td>73477</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SafaricomReport_Blaze.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:18</td>   <td>73477</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomReport_Blaze.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:18</td>   <td>73478</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BEYOURBOSS_TC_004()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BEYOURBOSS_TC_004</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:23</td>   <td>78373</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SafaricomReport_Blaze.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:29</td>   <td>84575</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomReport_Blaze.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:29</td>   <td>84575</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:36</td>   <td>91562</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SafaricomReport_Blaze.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:36</td>   <td>91562</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomReport_Blaze.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:36</td>   <td>91563</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_002()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_002</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:45</td>   <td>100341</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SafaricomReport_Blaze.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:45</td>   <td>100341</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomReport_Blaze.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:45</td>   <td>100342</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_003()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_003</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112190</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SafaricomReport_Blaze.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112210</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_004()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_004</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112217</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_005()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_005</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112228</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_006()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_006</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112235</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_007()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_007</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112241</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_008()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_008</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112248</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_009()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_009</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112256</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_010()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_010</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112265</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_011()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_011</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112273</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_012()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_012</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112279</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_013()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_013</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112285</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_014()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_014</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112294</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_015()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_015</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112300</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_016()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_016</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112310</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_017()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_017</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112320</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_018()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_018</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112328</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_019()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_019</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112337</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_020()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_020</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112345</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_021()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_021</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112353</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_022()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_022</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112360</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_023()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_023</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112366</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_024()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_024</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112376</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_025()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_025</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112382</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_026()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_026</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112387</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEDATAUSAGE_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEDATAUSAGE_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112393</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBONGA_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBONGA_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBONGA_TC_002()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBONGA_TC_002</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112406</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBONGA_TC_003()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBONGA_TC_003</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112413</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBONGA_TC_004()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBONGA_TC_004</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112420</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBONGA_TC_005()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBONGA_TC_005</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112426</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBONGA_TC_006()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBONGA_TC_006</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112431</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEMPESA_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEMPESA_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112437</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZESENDMONEY_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZESENDMONEY_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112443</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZESENDMONEY_TC_002()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZESENDMONEY_TC_002</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112449</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZESENDMONEY_TC_003()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZESENDMONEY_TC_003</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112454</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEWITHDRAWCASH_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEWITHDRAWCASH_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112459</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEWITHDRAWCASH_TC_002()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEWITHDRAWCASH_TC_002</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112464</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEWITHDRAWCASH_TC_003()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEWITHDRAWCASH_TC_003</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112469</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUYAIRTIME_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUYAIRTIME_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112475</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUYAIRTIME_TC_002()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUYAIRTIME_TC_002</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112481</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUYAIRTIME_TC_003()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUYAIRTIME_TC_003</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112486</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.LIPANAMPESA_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">LIPANAMPESA_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112492</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.LIPANAMPESA_TC_002()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">LIPANAMPESA_TC_002</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112497</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.LIPANAMPESA_TC_003()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">LIPANAMPESA_TC_003</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBILLMANAGER_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBILLMANAGER_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112508</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBILLMANAGER_TC_002()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBILLMANAGER_TC_002</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112513</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEMYACCOUNT_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEMYACCOUNT_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112518</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEMYACCOUNT_TC_002()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEMYACCOUNT_TC_002</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112523</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEFULIZAMPESA_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEFULIZAMPESA_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112528</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEMPESAGLOBAL_TC_002()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEMPESAGLOBAL_TC_002</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112533</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEMPESAGLOBAL_TC_003()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEMPESAGLOBAL_TC_003</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112538</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEMPESAGLOBAL_TC_004()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEMPESAGLOBAL_TC_004</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112543</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEMPESAGLOBAL_TC_005()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEMPESAGLOBAL_TC_005</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112549</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEMPESAGLOBAL_TC_006()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEMPESAGLOBAL_TC_006</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112555</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEMPESAGLOBAL_TC_007()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEMPESAGLOBAL_TC_007</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112560</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEMPESAGLOBAL_TC_008()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEMPESAGLOBAL_TC_008</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112565</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEMPESAGLOBAL_TC_009()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEMPESAGLOBAL_TC_009</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112570</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEMPESAGLOBAL_TC_010()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEMPESAGLOBAL_TC_010</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112577</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEMPESAGLOBAL_TC_011()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEMPESAGLOBAL_TC_011</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEMPESAGLOBAL_TC_012()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEMPESAGLOBAL_TC_012</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112590</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEDEVICES_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEDEVICES_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112597</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZETALKTOUS_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZETALKTOUS_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112602</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZETALKTOUS_TC_002()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZETALKTOUS_TC_002</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112607</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZETALKTOUS_TC_003()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZETALKTOUS_TC_003</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112610</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZETALKTOUS_TC_004()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZETALKTOUS_TC_004</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112614</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.SERVICES_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">SERVICES_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112618</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.SERVICES_CHECKBALANCE_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">SERVICES_CHECKBALANCE_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112622</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.SERVICES_CHECKBALANCE_TC_002()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">SERVICES_CHECKBALANCE_TC_002</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112629</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.SERVICES_CHECKBALANCE_TC_003()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">SERVICES_CHECKBALANCE_TC_003</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112635</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.SERVICES_CHECKBALANCE_TC_004()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">SERVICES_CHECKBALANCE_TC_004</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112639</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.SERVICES_CHECKBALANCE_TC_005()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">SERVICES_CHECKBALANCE_TC_005</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112644</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.SERVICES_BLAZEBONGA_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">SERVICES_BLAZEBONGA_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112648</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.SERVICES_BLAZEBONGA_TC_002()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">SERVICES_BLAZEBONGA_TC_002</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112651</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.SERVICES_AIRTIMETOPUP_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">SERVICES_AIRTIMETOPUP_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112655</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.SERVICES_DATACALLPLANSSERVICES_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">SERVICES_DATACALLPLANSSERVICES_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112659</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.SERVICES_OKOASERVICES_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">SERVICES_OKOASERVICES_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112664</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.SERVICES_SKIZASERVICES_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">SERVICES_SKIZASERVICES_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112669</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.SERVICES_SAMBAZASERVICES_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">SERVICES_SAMBAZASERVICES_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112673</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.SERVICES_SAMBAZASERVICES_TC_002()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">SERVICES_SAMBAZASERVICES_TC_002</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112678</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.SERVICES_SAMBAZASERVICES_TC_003()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">SERVICES_SAMBAZASERVICES_TC_003</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112681</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.SERVICES_STORELOCATOR_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">SERVICES_STORELOCATOR_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112685</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.SERVICES_CONTACTUS_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">SERVICES_CONTACTUS_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112689</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.MENU_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">MENU_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112693</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.MENU_TC_002()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">MENU_TC_002</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112697</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.MENU_TC_003()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">MENU_TC_003</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112701</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.MENU_TC_004()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">MENU_TC_004</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112706</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.MENU_TC_005()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">MENU_TC_005</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112712</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.MENU_TC_006()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">MENU_TC_006</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112718</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.MENU_TC_007()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">MENU_TC_007</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112725</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.MENU_TC_008()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">MENU_TC_008</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112729</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.MENU_TC_009()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">MENU_TC_009</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112735</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.MENU_TC_010()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">MENU_TC_010</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112743</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.MENU_TC_011()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">MENU_TC_011</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112750</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.MENU_TC_012()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">MENU_TC_012</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112756</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.MENU_TC_013()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">MENU_TC_013</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112760</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.MENU_TC_014()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">MENU_TC_014</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112765</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.MENU_TC_015()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">MENU_TC_015</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112769</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.MENU_TC_016()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">MENU_TC_016</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112773</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.MENU_TC_017()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">MENU_TC_017</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>112778</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.MENU_TC_018()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">MENU_TC_018</td> 
  <td>main@551016187</td>   <td></td> </tr>
</table>
