<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:46:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BEYOURBOSS_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BEYOURBOSS_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:46:49</td>   <td>2040</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BEYOURBOSS_TC_002()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BEYOURBOSS_TC_002</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:03</td>   <td>16079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BEYOURBOSS_TC_003()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BEYOURBOSS_TC_003</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:18</td>   <td>31371</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BEYOURBOSS_TC_004()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BEYOURBOSS_TC_004</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70396</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBILLMANAGER_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBILLMANAGER_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70401</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBILLMANAGER_TC_002()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBILLMANAGER_TC_002</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70286</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBONGA_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBONGA_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70292</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBONGA_TC_002()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBONGA_TC_002</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70299</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBONGA_TC_003()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBONGA_TC_003</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70306</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBONGA_TC_004()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBONGA_TC_004</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70313</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBONGA_TC_005()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBONGA_TC_005</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70319</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBONGA_TC_006()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBONGA_TC_006</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:29</td>   <td>42468</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:36</td>   <td>49456</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_002()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_002</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:45</td>   <td>58235</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_003()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_003</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70103</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_004()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_004</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70110</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_005()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_005</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70121</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_006()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_006</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70128</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_007()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_007</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_008()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_008</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70141</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_009()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_009</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70149</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_010()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_010</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_011()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_011</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70166</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_012()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_012</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70172</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_013()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_013</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70178</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_014()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_014</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70187</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_015()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_015</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70193</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_016()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_016</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70203</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_017()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_017</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70213</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_018()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_018</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70221</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_019()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_019</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_020()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_020</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70238</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_021()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_021</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70246</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_022()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_022</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70253</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_023()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_023</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70259</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_024()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_024</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70269</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_025()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_025</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70275</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUNDLES_TC_026()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUNDLES_TC_026</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70362</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUYAIRTIME_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUYAIRTIME_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70368</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUYAIRTIME_TC_002()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUYAIRTIME_TC_002</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70374</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEBUYAIRTIME_TC_003()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEBUYAIRTIME_TC_003</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70280</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEDATAUSAGE_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEDATAUSAGE_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70483</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEDEVICES_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEDEVICES_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70416</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEFULIZAMPESA_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEFULIZAMPESA_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:46:45</td>   <td>-1498</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEHOME_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEHOME_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70421</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEMPESAGLOBAL_TC_002()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEMPESAGLOBAL_TC_002</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70426</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEMPESAGLOBAL_TC_003()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEMPESAGLOBAL_TC_003</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70431</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEMPESAGLOBAL_TC_004()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEMPESAGLOBAL_TC_004</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70436</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEMPESAGLOBAL_TC_005()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEMPESAGLOBAL_TC_005</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70442</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEMPESAGLOBAL_TC_006()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEMPESAGLOBAL_TC_006</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70448</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEMPESAGLOBAL_TC_007()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEMPESAGLOBAL_TC_007</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70453</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEMPESAGLOBAL_TC_008()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEMPESAGLOBAL_TC_008</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70458</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEMPESAGLOBAL_TC_009()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEMPESAGLOBAL_TC_009</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70463</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEMPESAGLOBAL_TC_010()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEMPESAGLOBAL_TC_010</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70470</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEMPESAGLOBAL_TC_011()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEMPESAGLOBAL_TC_011</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70476</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEMPESAGLOBAL_TC_012()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEMPESAGLOBAL_TC_012</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70324</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEMPESA_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEMPESA_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70406</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEMYACCOUNT_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEMYACCOUNT_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70411</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEMYACCOUNT_TC_002()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEMYACCOUNT_TC_002</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70330</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZESENDMONEY_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZESENDMONEY_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70336</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZESENDMONEY_TC_002()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZESENDMONEY_TC_002</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70342</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZESENDMONEY_TC_003()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZESENDMONEY_TC_003</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70490</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZETALKTOUS_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZETALKTOUS_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70495</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZETALKTOUS_TC_002()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZETALKTOUS_TC_002</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70500</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZETALKTOUS_TC_003()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZETALKTOUS_TC_003</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZETALKTOUS_TC_004()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZETALKTOUS_TC_004</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70347</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEWITHDRAWCASH_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEWITHDRAWCASH_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70352</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEWITHDRAWCASH_TC_002()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEWITHDRAWCASH_TC_002</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70357</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.BLAZEWITHDRAWCASH_TC_003()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">BLAZEWITHDRAWCASH_TC_003</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70379</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.LIPANAMPESA_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">LIPANAMPESA_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70385</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.LIPANAMPESA_TC_002()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">LIPANAMPESA_TC_002</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70390</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.LIPANAMPESA_TC_003()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">LIPANAMPESA_TC_003</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:46:05</td>   <td>-41919</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.LOGIN_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">LOGIN_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70582</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.MENU_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">MENU_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70586</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.MENU_TC_002()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">MENU_TC_002</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70590</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.MENU_TC_003()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">MENU_TC_003</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70594</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.MENU_TC_004()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">MENU_TC_004</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70599</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.MENU_TC_005()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">MENU_TC_005</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70605</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.MENU_TC_006()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">MENU_TC_006</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70611</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.MENU_TC_007()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">MENU_TC_007</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70618</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.MENU_TC_008()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">MENU_TC_008</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70622</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.MENU_TC_009()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">MENU_TC_009</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70628</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.MENU_TC_010()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">MENU_TC_010</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70636</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.MENU_TC_011()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">MENU_TC_011</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70643</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.MENU_TC_012()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">MENU_TC_012</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70649</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.MENU_TC_013()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">MENU_TC_013</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70653</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.MENU_TC_014()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">MENU_TC_014</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70658</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.MENU_TC_015()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">MENU_TC_015</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70662</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.MENU_TC_016()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">MENU_TC_016</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70666</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.MENU_TC_017()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">MENU_TC_017</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70671</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.MENU_TC_018()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">MENU_TC_018</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70544</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.SERVICES_AIRTIMETOPUP_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">SERVICES_AIRTIMETOPUP_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70537</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.SERVICES_BLAZEBONGA_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">SERVICES_BLAZEBONGA_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70541</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.SERVICES_BLAZEBONGA_TC_002()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">SERVICES_BLAZEBONGA_TC_002</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70511</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.SERVICES_CHECKBALANCE_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">SERVICES_CHECKBALANCE_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70515</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.SERVICES_CHECKBALANCE_TC_002()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">SERVICES_CHECKBALANCE_TC_002</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70522</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.SERVICES_CHECKBALANCE_TC_003()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">SERVICES_CHECKBALANCE_TC_003</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70528</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.SERVICES_CHECKBALANCE_TC_004()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">SERVICES_CHECKBALANCE_TC_004</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70532</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.SERVICES_CHECKBALANCE_TC_005()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">SERVICES_CHECKBALANCE_TC_005</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70578</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.SERVICES_CONTACTUS_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">SERVICES_CONTACTUS_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70548</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.SERVICES_DATACALLPLANSSERVICES_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">SERVICES_DATACALLPLANSSERVICES_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70552</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.SERVICES_OKOASERVICES_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">SERVICES_OKOASERVICES_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70562</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.SERVICES_SAMBAZASERVICES_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">SERVICES_SAMBAZASERVICES_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70566</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.SERVICES_SAMBAZASERVICES_TC_002()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">SERVICES_SAMBAZASERVICES_TC_002</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70571</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.SERVICES_SAMBAZASERVICES_TC_003()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">SERVICES_SAMBAZASERVICES_TC_003</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70557</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.SERVICES_SKIZASERVICES_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">SERVICES_SKIZASERVICES_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70574</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.SERVICES_STORELOCATOR_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">SERVICES_STORELOCATOR_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70507</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_Blaze.SERVICES_TC_001()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">SERVICES_TC_001</td> 
  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:46:05</td>   <td>-41935</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomReport_Blaze.beforeClass()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:46:05</td>   <td>-41919</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomReport_Blaze.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:46:45</td>   <td>-1498</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomReport_Blaze.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:46:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomReport_Blaze.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:46:49</td>   <td>2040</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomReport_Blaze.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:03</td>   <td>16079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomReport_Blaze.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:18</td>   <td>31370</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomReport_Blaze.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:29</td>   <td>42468</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomReport_Blaze.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:36</td>   <td>49455</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomReport_Blaze.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:45</td>   <td>58234</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomReport_Blaze.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:46:05</td>   <td>-42107</td> <td title="&gt;&gt;SafaricomReport_Blaze.beforeSuite()[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:46:45</td>   <td>-1500</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SafaricomReport_Blaze.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:46:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SafaricomReport_Blaze.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:46:49</td>   <td>2039</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SafaricomReport_Blaze.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:03</td>   <td>16078</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SafaricomReport_Blaze.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:18</td>   <td>31370</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SafaricomReport_Blaze.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:23</td>   <td>36266</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SafaricomReport_Blaze.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:36</td>   <td>49455</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SafaricomReport_Blaze.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:45</td>   <td>58234</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SafaricomReport_Blaze.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@551016187</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>20/01/23 13:47:57</td>   <td>70083</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SafaricomReport_Blaze.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_Blaze@723e88f9]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@551016187</td>   <td></td> </tr>
</table>
