<h2>Methods that were not run</h2><table>
<tr><td>com.safaricom.report.SafaricomReport_Blaze.BLAZELOANSANDSAVINGS_TC_012</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_Blaze.BLAZELOANSANDSAVINGS_TC_001</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_Blaze.BLAZELOANSANDSAVINGS_TC_013</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_Blaze.BLAZELOANSANDSAVINGS_TC_002</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_Blaze.BLAZELOANSANDSAVINGS_TC_010</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_Blaze.BLAZELOANSANDSAVINGS_TC_011</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_Blaze.BLAZELOANSANDSAVINGS_TC_014</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_Blaze.BLAZELOANSANDSAVINGS_TC_003</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_Blaze.BLAZELOANSANDSAVINGS_TC_009</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_Blaze.BLAZELOANSANDSAVINGS_TC_007</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_Blaze.BLAZELOANSANDSAVINGS_TC_008</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_Blaze.BLAZELOANSANDSAVINGS_TC_005</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_Blaze.BLAZELOANSANDSAVINGS_TC_006</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_Blaze.BLAZELOANSANDSAVINGS_TC_004</td></tr>
</table>